<div id="container">
    <!-- Yeap! You can use Twitter's Bootstrap! It's already installed by npm -->
    <div class="row">
        <div class="col-xs-12 col-md-4 icon">
            <a href="https://angularjs.org/" class="btn btn-primary">
                <img src="https://angular.io/resources/images/logos/standard/logo-nav@2x.png">
            </a>
        </div>
        <div class="col-xs-12 col-md-4 icon">
            <a href="https://www.python.org/" class="btn btn-primary">
                <img src="https://www.python.org/static/img/python-logo@2x.png">
            </a>
        </div>
        <div class="col-xs-12 col-md-4 icon">
            <a href="http://flask.pocoo.org/" class="btn btn-primary">
                <img src="http://flask.pocoo.org/static/logo/flask.svg">
            </a>
        </div>

    </div>
    <br>
    <h2>Welcome to your first Angular2 Application served by Python/Flask</h2>
    <hr>
    <h5>Here is a list of your movies served by your Flask RESTful service</h5>
    <ul>
        <li *ngFor="let movie of movieList">
            {{ movie }}
        </li>
    </ul>
</div>